page-home {
  //轮播
  ion-slides{
    width: 100%;
    height: 33.5%;
  }
  .img-slides{
    width: 100%;
    height: 100%;
  }
  //list
  .contaniner_list{
    width: 100%;
    height: 180px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .content_box{
    width: 20%;
    height: 80;
    text-align: center;
    align-items: center;
  }
  .img_box{
    width: 100%;
    height: 100%;
  }
  .content_box img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

}
