page-person {
  .login-header{
    display: block;
    width: 100%;
    height: 30vh;
    text-align: center;
    position: relative;
    background: url(../../assets//img/login_bac.png);
    background-size: cover;
  }
}
